##########
# Application settings
#########
LOG_LEVEL=debug
LOG_STREAM=/tmp/stdout
APP_NAME=the-blue-book

##########
# Database details
##########

DB_HOST=postgres
DB_NAME=recipes
DB_USER=recipes
DB_PASS=sepicer
